[sdk]
workflow_packages={wf_packages}

[auth]
kubernetes_service_account={kubernetes_service_account}

# These configs are required to make Types.Blob work with inputs/outputs.
[aws]
s3_shard_formatter=s3://<my-bucket>
s3_shard_string_length=2

[platform]
# Endpoint to Flyte Admin gRPC server.
url=<placeholder>